.container {
  width: auto;
}

.menu {
  text-align: center;
  width: auto;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

button {
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: auto;
  height: 60px;
  background-color: red;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-align: center;
}
