button {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100px;
  height: 20px;
  font-style: bold;
}

.container {
  width: 950px;
  margin: auto;
}

.menu {
  text-align: center;
  width: 90%
}

/* const rowStyle = {
  backgroundColor: 'yellow',
  color: 'red',
  height: '120px',
  fontSize: '40px',
  margin: '5px auto',
  display: 'flex',
  flexDirection: 'row',
  justifyContent: 'center'
};
const boxStyle = {
  height: '110px',
  width: '110px',
  backgroundColor: 'lightgrey',
  margin: 'auto 20px',
  border: '1px solid black'
}; */
